::selection {
    background: #8c67b8 ;
    color: white;
}

.figure {
    overflow: hidden;
    padding: 0;
    display: inline-block;
    max-width: 100%;
    max-height: 300px;
}
.figure  img {
    width: 100%;
    min-height: 300px;
    position: relative;
    

}
.title {
    margin-bottom: 70px;

    font-weight: 700;
    text-align: center;
    color: #fff;
    padding: 0 0 16px;

}
hr {
    width: 90px;
    text-align: center;
    background: #8c67b8;
    margin-top: -75px;
    border: none;
    margin-bottom: 82px;
    height: 4px;
}

#about .title {
    margin-top: 20px;
    text-align: center;
    color: #555;
    padding: 0 0 16px;
    font-weight: 700;



}
.carousel {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:
    linear-gradient(to right, rgba(187,106,255,0.9), rgba(103,139,255,0.9) 100%), url('../img/bg.jpg');; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

}
.carousel-caption {
    top: 10%;
    bottom: 0;
    left: 15%
}
.carousel-inner .item a img {
    position: absolute;
    top: 15vh;
    right: 15vw;
    height: 300px;
    width: auto;
}
.carousel-inner .item a:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 300;
    height: 100%;
    display: inline-block;
    background: -moz-linear-gradient(top, transparent 0%, transparent 42%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0%, transparent 42%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 0%, transparent 42%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:
}
#about p {
    font-size: 20px;
    color: #555;

    text-align: left;
    padding: 0 0 16px 0;
}
#about {
    background: #ebeaea;
    color: #000;
    position: relative;
    margin-top: -30px;
    padding-bottom: 100px;

    }

#about .btn-primary {
    background: transparent;
    
    color: #333;
    margin-top: 10px;

}
#about .btn-primary:nth-child(1) {
    margin-left: 0;
}

#about i {
    color: #8c67b8
}
#about p strong {
    color: #8c67b8;
}
#work {
    background:
    linear-gradient(to right, rgba(187,106,255,0.9), rgba(103,139,255,0.9) 100%), url('../img/bg.jpg');; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin-top: -20px;
    color: #eee;
    min-height: 700px;

}

#work hr {
    background: #fff;
}
#contact {
    background: #ebeaea;
    color: #000;
    position: relative;
    margin-top: -30px;
    

    }
figcaption h3 {
    font-weight: 700;
    font-size: 20px;

}
#contact .btn-primary {
    height: 40px;
    
    position: relative;
    margin-bottom: 40px;
    
    
    background: #8c67b8;
    border: none;
    padding: 8px 16px;
    
}

#contact .title {
     margin-top: 20px;
    text-align: center;
    color: #555;
    padding: 0 0 16px;
    font-weight: 700;
    padding-top: 20px;
    text-transform:uppercase;
}
#contactme {
    margin-top: -50px;
    text-align: center;
    font-weight: 700;
    color: #555;
    font-size: 30px;
    

}
#contact h4 {
    font-size: 15px;
    margin-top: -30px;
    padding-bottom: 50px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.topfield::-moz-placeholder,
.topfield::-webkit-placeholder {
    color: white;
}
.mobile {
   position:relative;
    margin-top: -190px;
    float: right;
    max-width: 250px;
}
.description {
    font-size: 16px;
    width: 35%;

    text-align: justify;
}
.topfield {

    margin-top: 3px;
    padding: 13px 16px;
    border-radius: 10px;
    background: #0D8C6F;
    color: white;
    border: none;
}
.topfield:focus,
.topfield:active,
.topfield:hover {
    outline: none;
}

.circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 0;
    float: left;
}
.card-2 {
    background-color: #ffff19;
    width: 600px;
    height: 300px;
    display: inline;
}
.container-small {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-bg {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -80px;
    z-index: 4;
    background-color: white;
    width: 906px;
    height: 100px;
}
@media (min-width: 1200px) {
    .container-small {
        width: 900px;
    }
}
.card img {
    width: 296px;
    height: 300px;
}
.card-2 img {
    width: 500px;
    height: 300px;
    margin-left: -10px;
}
.form-control {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #8c67b8;
    background-image: none;
    
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}
.form-control:focus {
    border-color: rgb(61,163,139);
    outline: 0;
    background-color: rgb(61,163,139)
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
    color: white;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #ddd;
}
.form-control::-webkit-input-placeholder {
    color: #ddd;
}
.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}
textarea.form-control {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="date"].form-control,
    input[type="time"].form-control,
    input[type="datetime-local"].form-control,
    input[type="month"].form-control {
        line-height: 34px;
    }
    input[type="date"].input-sm,
    input[type="time"].input-sm,
    input[type="datetime-local"].input-sm,
    input[type="month"].input-sm,
    .input-group-sm input[type="date"],
    .input-group-sm input[type="time"],
    .input-group-sm input[type="datetime-local"],
    .input-group-sm input[type="month"] {
        line-height: 30px;
    }
    input[type="date"].input-lg,
    input[type="time"].input-lg,
    input[type="datetime-local"].input-lg,
    input[type="month"].input-lg,
    .input-group-lg input[type="date"],
    .input-group-lg input[type="time"],
    .input-group-lg input[type="datetime-local"],
    .input-group-lg input[type="month"] {
        line-height: 46px;
    }
}
.form-group {
    margin-bottom: 15px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel-caption h1 {
    color: #eee;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 2px;

}
.navbar-brand span {
    font-size: 0.8em;
    
}
.carousel-caption h3 {
    color: rgba(250,250,250, 0.8);
    text-shadow: none;
    letter-spacing: 8px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: -15px;
}
.carousel-caption h4 span {
    display: block;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 3px 

}
.carousel-caption h4 {
    text-align: left;
    font-size: 25px;
    text-shadow: none;
    color: #eee;
}
.grow { transition: all .5s ease-in-out; }
.grow:hover { transform: scale(1.3); }

.description {
    position: absolute;
    top: 20px;
    left: 30%;
    text-align: center;
    display: none;

}
.block {
    display: block;
}
figcaption h4 {
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
}


.field {
    margin-bottom: 15px;
}
/* --- contact form  ---- */
form#contactform input[type="text"] {
  width: 100%;
  border: 1px solid #deb7f9;
  min-height: 40px;
  padding-left:20px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

form#contactform textarea {
border: 1px solid #8c67b8;
  width: 100%;
  padding-left:20px;
  padding-top:10px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

form#contactform .validation {
    font-size:11px;
}

#sendmessage {
    border:1px solid #e6e6e6;
    background:#f6f6f6;
    display:none;
    text-align:center;
    padding:15px 12px 15px 65px;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;

}

#sendmessage.show,.show  {
    display:block;
}
@media screen and (max-width: 1024px) {
    .carousel-inner .item a img {
        
        right: 5vw;
    }
   
}
@media screen and (max-width: 768px) {
    .carousel-inner .item a img {
        left: 0;
        right: 0px;
        top: 35vh;
        margin: 0 auto;
    }
    .carousel-caption {
        position: relative;
        width: 80%;
        height: 100vh;
        padding-bottom: none;
        top: 30px;

    }
}
@media screen and (max-width: 480px) {
    .carousel-inner .item a img {
        left: 0;
        right: 0px;
        top: 45vh;
        margin: 0 auto;
    }
    
}
